/* CARDS */
.sw-card {
  fill-opacity: 0.1;
}

.sw-card rect {
  stroke: black;
  stroke-width: 1;
  stroke-opacity: 0.1;
}

.sw-card text {
  fill: black;
}

.sw-card:hover {
  fill-opacity: 1.0;
}

.sw-natural-resource-card {
  fill: #cc6633;
}

.sw-cultural-card {
  fill: #99ccff;
}

.sw-military-card {
  fill: #ff3333;
}
